.file {
    background-color: rgb(59, 59, 59);
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family: 'DM Mono', monospace;
    font-size: 13px;
    text-align: left;
    width: 100%;
    height: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.file:hover {
  background-color: #474545;
  color: white;
}

.folder {
  font-weight: bold;
}

.tool {
    background-color: rgb(77, 75, 75);
    border: none;
    color: white;
    display: inline-block;
    font-family: 'DM Mono', monospace;
    font-size: 13px;
    text-align: left;
    height: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.tool:hover {
  background-color: #5e5a5a;
  color: white;
}
