textarea {
    width: 100%;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background-color: #2b2b2b;
    outline: none;
    font-family: monospace;
    font-size: 20px;
    color: rgb(219, 219, 219);
}

body {
    text-align: center;
}

h1 {
    font-family: 'Montserrat';
    width: 20%;
    position: static;
    border: 5px dotted rgb(255, 207, 207) ;
    color:rgb(235, 235, 235);
}

header {
    align-content: center;
}

p {
    width: 100%;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background-color: #2b2b2b;
    outline: none;
    font-family: 'Overpass Mono', monospace;
    font-size: 20px;
    overflow-x: visible;
    overflow-y: visible;
    scrollbar-face-color: #383737;
}

div {
    text-align: left;
    background-color: #2b2b2b;
}

html {
    background-color: #383737;
}
